html {
  background-color: darkseagreen;
}
body {
  background-color: beige;
  padding: 15px;
  margin: auto;
  width: 50%;
}
h1 {
  text-align: center;
}
.fazerMenu,
.sodexoMenu {
  border-bottom: 2px solid darkseagreen;
  padding: 10px;
}
